article {
    display: flex;
    width: 100vw;
    padding: 150px 100px 95px 100px;
}

figure {
    width: 50%;
    padding-right: 100px;
}

#case-caption {
    width: 50%;
    max-width: 400px;
}

#case-caption h1 {
    margin-top: 0;
    font-size: 3rem;
}

#aboutme-btn {
    display: flex;
    margin-top: 30px;
}

#aboutme-btn p, #aboutme-btn a {
    margin-right: 50px;
    color: #56C2B5;
    margin-bottom: 50px;
}

#aboutme-btn p:hover {
    color: #FFB300;;
}


.dark-section {
 height: auto;
 background-color: #3F3939;
 color: white;
}

.dark-section h2 {
 color: white;
 font-size: 2rem;
 line-height: 3rem;
 font-weight: lighter;
}

.light-section {
    height: auto;
    display: flex;
}

.light-section {
    height: auto;
    display: flex;
}

.light-section figure {
 height: auto;
 width: 80%;
}

#process-caption {
    width: 50%;
    padding-right: 0;
}

@media (max-width: 780px) {

article {
    flex-direction: column;
    padding: 0px 0 0 0;
}

figure {
    width: 100%;
}

figure img {
    width: 100vw;
}

.mobile-padding {
    padding: 30px 30px 30px 30px;
}

#case-caption h1 {
    margin-top: 0;
    font-size: 2rem;
}

#case-caption {
    width: 100%;
    max-width: 600px;
}

}


