
#pavillionCaseImage {
    background-image: url('/img/mirabeau-case.jpg');
}

#conceptImage {
    height: 90vh;
}

#guidelines {
    height: 80vh;
    width: 80%;
}

#valueProp {

    height: 80vh;
    width: 60%;
}

#insights {

    height: 100vh;
}

#chaos {
    height: 40vh;
}
