@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 14pt;
    line-height: 25pt;
    box-sizing: border-box;
    font: 12pt;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #F9F8F7;
}

::-moz-selection { background: #FFB300; }
::selection { background: #FFB300; }

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    transition-duration: 0.4s;
    cursor: pointer;
}

nav a:hover {
    color: #FFB300;
}

nav a {
    text-decoration: none;
    color: black;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    width: 100vw;
}


.margin-bottom {
    margin-bottom: 30px;
}

.padding {
    padding: 20px 100px 20px 100px;
}


nav ul li {
    margin-right: 30px;
}

h1 {
    font-size: 2.5rem;
    font-weight: lighter;
    line-height: 50pt;
    margin-top: 30px;
    max-width: 1200px;
}

h2 {
    color: #56C2B5;
    margin-bottom: 30px;

}

h3 {
    font-size: 3rem;
    line-height: 50pt;
}

.case h3 {
    margin-bottom: 30px;

}

.case p {
    margin-bottom: 30px;
}


#btnAboutMe {
    margin-top: 30px;
}

#btnAboutMe a {
    color: #56C2B5;
}

#introPicture {
    background-size: cover;
    width: 100vw;
    height: 600px;
    background-image: url("/img/dario.jpg");
    background-position-y: center;
    background-position-x: center;
}

.yellow-section-block {
    background-color: #FFB300;
    display: flex;
    width: 300px;
    height: 80px;
    position: relative;
    top: 45px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.case {
    height: 100vh;
    margin-top: 10px;
    background-color: gray;
    display: flex;
    align-items: center;
    color: white;
    max-height: 1200px;
}

.case-caption {
    max-width: 800px;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #25282A;
}

#case-mirabeau {
    background-image: url('/img/mirabeau-case.jpg');
    background-size: cover;
}

#case-cgi {
    background-image: url('/img/algae.jpg');
    background-size: cover;
}

#case-savetopia {
    background-image: url('/img/savetopia.png');
    background-size: cover;
}

footer {
    background-color: #25282A;
    color: white;
}

footer ul {
    display: flex;
    color: white;
    list-style: none;
}

footer ul li {
    margin: 0 30px 0 0;
}


/* Case CSS */


.case-image {
    height: 60vh;
}

.case-header h1 {
    margin-left: 100px;
    width: 80%;
    margin-bottom: 50px;
}

.case-details {
    display: flex;
    background-color: #E5E5E5;
    width: 100%;
    height: auto;
}

.case-details p {
    margin-bottom: 50px;
    margin-right: 50px;
}

.case-detail {
    max-width: 400px;
}

.case-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.case-article {
    max-width: 1400px;
}

.article-title {
    width: 30%;
    margin: 50px 50px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

.article-text {
    width: 50%;
    max-width: 600px;
}

.article-text p {
    margin: 50px 0 50px 0;
}

img {
    width: 100%;
}

.image-holder {
    padding-left: 15%;
}

iframe {
    width: 100%;
    height: 100vh;
}


/* Slider CSS */

.slider {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    background-color: #25282A;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  
  .slides {
    align-items: center;
    display: flex;
    position: relative;
    top: 0;
    left: -100vw;
    width: 10000px;
  }
  
  .slides.shifting {
    transition: left .2s ease-out;
  }
  
  .slide {
      width: 100vw;
      height: 80vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    background: black;
    border-radius: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  
  
  .control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  
  .prev,
  .next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    left: 10vw;
    color: #FFB300;
  }
  
  .next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    right: 10vw;
  }
  
  .prev:active,
  .next:active {
    transform: scale(.8);
  }



/* Media Querries */

@media (max-width: 480px) {
    .padding {
        padding: 20px 20px 20px 20px;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: lighter;
        line-height: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: lighter;
        line-height: 2rem;
    }

    .yellow-section-block {
        margin-left: 0px;
  }


  /* Case CSS */

  .case-content{
      flex-direction: column;
      width: 100%;
  }

  .case-header h1 {
    margin-left: 30px;
    width: 80%;
    margin-bottom: 50px;
    }

    .article-text p {
        margin: 0px 0 10px 0;
    }

    .case-details {
    flex-direction: column;
    }

    .article-text {
        width: 100%;
    }

    .article-title {
        margin-top: 0;
        margin-bottom: 0;
    }

    /*Slider*/
    .slide {
        height: 50vh;
    }

    .wrapper {
        height: 50vh;
    }

}

@media screen and (min-width: 1900px) {
    .padding {
        padding: 20px 200px 20px 200px;
    }

    .case-header h1 {
        margin-left: 200px;
    }
  }