
#pavillionCaseImage {
    background-image: url('mirabeau-case.jpg');
}

#conceptImage {
    background-image: url('case-context.png');
    background-size: cover;
    height: 90vh;
}

#guidelines {
    background-image: url('Moodboard_Maatregel.jpg');
    background-size: cover;
    height: 80vh;
    width: 80%;
}