@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: #141516;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-size: 12pt;
}

/*--------------------------------------
----------main styles---------------
------------------------------------ */

main {
    opacity: 0;
    transition: 0.5s;

}

main.pageload {
    opacity: 1;
}

.loadInVp {
    opacity: 0;
    transition: 1s;
}

.loadInVp.load {
    opacity: 1;
}

.flex {
    display: flex;
    flex-direction: row;
}

.padding {
    padding: 60px 120px 100px 120px;
}


h1 {
    font-size: 3.5rem;
    font-weight: bolder;
}

h2 {
    font-size: 3rem;
    font-weight: lighter;
}

p {
    line-height: 27px;
    font-weight: 100;
}

a {
    list-style: none;
    text-decoration: none;
    color: #FD4291;
}

span {
    color: #FD4291;
}

span:hover {
    color: #ffb0d1;
    cursor: pointer;
}

button {
    background-color: #FD4291;
    background-image: linear-gradient(-90deg, #9145F9, #FD4291);
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    height: 65px;
    width: 210px;
}



/*--------------------------------------
-------------------NAV---------------
------------------------------------ */

nav {
    height: 30px;
    padding: 30px 60px 30px 60px;
    position: fixed;
    z-index: 8;
    display: flex;
    width: 100vw;
    background: none;
    flex-direction: column;
    top: 0;
}

ul {
    list-style-type: none;

}

li {
    margin-right: 30px;

}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #FD4291;
}

li:last-of-type {
    margin-left: auto;
}

#nav-icon1 {
display: none;
  }
  
  #nav-icon1 span {
    display: none;
   
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }


  /*--------------------------------------
-----------------CONTACT--------------
------------------------------------ */
  

  .contact-cover {
    background: #141516;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    transition: 0.3s;
    flex-direction: column;
    opacity: 0;

}

.contact-cover i {
    font-size: 40pt;
}

.contact-cover.active {
    display: flex;
    z-index: 5;
    opacity: 1;
    justify-content: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.contact-container > :nth-child(n+2)  {
    margin-top: 30px;
} 

.social {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
}

.social a {
    color: white;
}


/*--------------------------------------
-------------Main Page---------------
------------------------------------ */

#top-page {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('img/main-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-left: 30px;
}



#top-article {
    height: auto;
    width: 100vw;
    margin-top: 20vh;
    margin-bottom: 8vh;
    flex-direction: column;

}

#top-article div img {
    width: 230px;
    height: 230px;
    border-radius: 20px;
}

.intro-caption {
    width: 600px;
    margin-left: 30px;
}

.intro-caption p {
    margin-top: 4vh;
}

#mobile-btn {
    display: none;
}

#scroll-arrow {
    font-size: 60px;
    align-self: center;
    margin-top: 15vh;
}

/*--------------------------------------
-------------Case Page---------------
------------------------------------ */


.case-container {
    padding-top: 30vh;
}


.case-img {
    width: 40vw;
    height: 60vh;
    border-radius: 25px;
    background-size: cover;
}

.case-caption {
    margin: 0 0 0 120px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#case-one {
    background-image: url("img/case-cgi.jpg");
}

#case-two {
    background-image: url("img/ijsel-gem.jpg");
}

#case-three {
    background-image: url("img/case-placehold.jpg");
}

/*--------------------------------------
-------------Footer---------------
------------------------------------ */

footer {
    background-color: black;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
}

/*--------------------------------------
-------------Media Queries---------------
------------------------------------ */


@media only screen and (max-width: 1000px) {

    .desktop-nav {
        display: none;
    }
    
    
    #top-page {
        height: auto;
    }
    .cards { 
        display: none;
    }
    

    #top-article {
        margin-top: 0;
    }

    #top-article div img {
       display: none;
    }

    /*-----Case-----*/

    .case-container {
        padding: 0;
        justify-content: center;
    align-items: center;
    }

    .case-caption {
        position: absolute;
        width: 60vw;
        margin: 0;
    }

    .case-img {
        width: 90vw;
        filter: brightness(0.5);
    }
  }

  /* the moment you regret not doing mobile first */

  @media only screen and (max-width: 600px) {

    nav {
        margin-top: 0px;
        height: 80px;
        width: 80px;
        background: #141516;
    }

    .burger-cover {
        background: #141516;
        position: fixed;
        width: 0vw;
        height: 0vh;
        z-index: 5;
        transition: 0.2s;
    }

    .burger-cover.open {
        background: #141516;
        width: 100vw;
        height: 100vh;
    }

    #mobile-btn {
        display: block;
    }

    .desktop-nav {
        display: none;
    }

    #nav-icon1 {
        width: 45px;
        height: 30px;
        position: absolute;
        margin-left: -30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        display: block;
        margin-top: -10px;
      }

      #nav-icon1 span {
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        background: #ffffff;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }

    #top-page {
        margin-top: 0;
        padding-top: 0;
        height: 100vh;
    }

    footer {
        flex-direction: column;
    }

    .case-container { 
        margin: 0;
        padding: 0 !important;
        justify-content: center;
    align-items: center;
    }

    .case-img {
        width: 100vw;
        border-radius: 0;
        filter: brightness(0.5);
    }

    .case-caption {
        position: absolute;
        width: 85vw;
        margin: 0;
    }

    button {
        width: 85vw;
        border-radius: 0;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .padding {
        padding: 60px 30px 0 30px;
    }

    .intro-caption {
        margin-left: 0;
        margin-top: 100px;
    }

    footer ul {
        list-style-type: none;
        align-self: flex-start;
        margin-left: 60px;
    }
  }

  