@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: #141516;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-size: 12pt;
}

/*--------------------------------------
----------main styles---------------
------------------------------------ */

.flex {
    display: flex;
    flex-direction: row;
}

.padding {
    padding: 60px 60px 100px 60px;
}


h1 {
    font-size: 4rem;
    font-weight: bolder;
}

h2 {
    font-size: 3rem;
    font-weight: lighter;
}

p {

    font-weight: 100;
}

span {
    color: #FD4291;
}

span:hover {
    color: #ffb0d1;
    cursor: pointer;
}

button {
    background-color: #FD4291;
    background-image: linear-gradient(-90deg, #9145F9, #FD4291);
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    transition: 0.2s;
}

button:hover {
    height: 65px;
    width: 210px;
}

/*--------------------------------------
-------------------NAV---------------
------------------------------------ */

nav {
    height: 50px;
    padding: 30px 60px 30px 60px;
}

ul {
    list-style-type: none;

}

li {
    margin-right: 30px;

}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #FD4291;
}

li:last-of-type {
    margin-left: auto;
}



/*--------------------------------------
-------------Main Page---------------
------------------------------------ */

#top-page {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

#top-article {
    height: auto;
    width: 100vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

#top-article div img {
    width: 230px;
    height: 230px;
    border-radius: 20px;
}

.intro-caption {
    width: 600px;
    margin-left: 30px;
}

.intro-caption p {
    margin-top: 4vh;
}

.cards {
    margin-top: 8vh;
}

.card {
    width: 20vw;
    height: 15vw;
    margin-right: 50px;
    border-radius: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h3 {
    font-size: 18pt;
}

/*--------------------------------------
-------------Case Page---------------
------------------------------------ */

.case-img {
    width: 40vw;
    height: 60vh;
    border-radius: 25px;
    background-size: cover;
}

.case-caption {
    margin: 0 0 0 120px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#case-one {
    background-image: url("img/case-cgi.jpg");
}

#case-two {
    background-image: url("img/case-animation.png");
}

#case-three {
    background-image: url("img/case-placehold.jpg");
}

/*--------------------------------------
-------------Footer---------------
------------------------------------ */

footer {
    background-color: black;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
}

/*--------------------------------------
-------------Media Queries---------------
------------------------------------ */


@media only screen and (max-width: 1000px) {

    .desktop-nav {
        display: none;
    }
    
    
    #top-page {
        height: auto;
    }
    .cards { 
        display: none;
    }
    

    #top-article {
        margin-top: 0;
    }

    #top-article div img {
       display: none;
    }

    /*-----Case-----*/

    .case-container {
        padding: 0;
        justify-content: center;
    align-items: center;
    }

    .case-caption {
        position: absolute;
        width: 60vw;
        margin: 0;
    }

    .case-img {
        width: 90vw;
        filter: brightness(0.5);
    }
  }

  /* the moment you regret not doing mobile first */

  @media only screen and (max-width: 600px) {

    .desktop-nav {
        display: none;
    }

    #top-page {
        margin-top: 0;
        padding-top: 0;
    }

    footer {
        flex-direction: column;
    }

    .case-container { 
        margin: 0;
        padding: 0 !important;
        justify-content: center;
    align-items: center;
    }

    .case-img {
        width: 100vw;
        border-radius: 0;
        filter: brightness(0.5);
    }

    .case-caption {
        position: absolute;
        width: 85vw;
        margin: 0;
    }

    button {
        width: 85vw;
        border-radius: 0;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .padding {
        padding: 60px 30px 0 30px;
    }

    .intro-caption {
        margin-left: 0;
    }
  }